/* shared styles */

* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background-color: #FF42A5;
}

.button-style {
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    border: 0;
    color: #FFF;
    margin-top: 1.7rem;

}

/* header styles */

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 1% 10%;
}

nav div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

nav img {
    height: 2.4rem;
    width: 5.3rem;
}

nav h3 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.color-pink {
    color: #FF42A5;
}

nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav li {
    list-style: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

.follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.5rem 1rem;
}

/* banner styles */
.banner-container {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    justify-content: space-between;
}

.banner-text-content {
    background-image: url('../images/Group\ 14.png');
    width: 55%;
    padding-top: 6rem;
    padding-left: 10rem;
}

.banner-text-content h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}

.banner-text-content h1 {
    font-family: Work Sans;
    font-size: 3.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text-content p {
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    padding-top: .5rem;
}

.btn-secondary {
    background-color: #4EC5F7;
    margin-left: 1rem;
}

.banner-container img {
    width: 40%;
    margin-right: 5rem;
    height: 30%;
}


/* gamer section styles */
.gamer-container {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 66, 165, 0.03);
    padding: 0 9rem;
}

.gamer-container img {
    width: 55%;
}

.gamer-text-content {
    padding-top: 5rem;
    text-align: right;
    width: 40%;
}

.gamer-text-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1.5rem;
    line-height: 1.3rem;
}

.purpose {
    margin-top: 1rem;
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.gamer-container h3 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 700;
}

/* online games section */

.online-games-container {
    text-align: center;
    margin-top: 6rem;
}

.online-games-container h2 {
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 800;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-container>p {
    color: #534C64;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1.8rem;
    line-height: 1.5rem;
}

.games-card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.games-card {
    width: 15%;
}

.games-card>img {
    width: 100%;
}

.games-card>p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

/* play instantly section styles  */
.play-instantly-container {
    display: flex;
    margin-top: 7rem;
}

.instantly-text-content {

    text-align: right;
    padding-top: 7rem;
    padding-right: 7rem;
    padding-left: 15rem;
    width: 20%;
}

.instantly-text-content h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #F948B2 35%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-description {
    color: #534C64;
    font-size: 0.8rem;
}

#main-img {
    width: 60%;
    display: block;
    padding-left: 5rem;
}

#sec-img {
    position: relative;
    height: 15rem;
    bottom: 10rem;

}

/* play games section styles */

.play-games-container {
    display: flex;
}

.play-games-text-content {
    padding-top: 5rem;
    padding-right: 15rem;
    padding-left: 7rem;
    width: 30%;
}

.play-games-text-content h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.play-games-description {
    color: #534C64;
    font-size: 0.8rem;
}

#pg-img-main {
    width: 60%;
    display: block;
    padding-left: 13rem;
}

#pg-img-sec {
    position: relative;
    height: 15rem;
    bottom: 10rem;
    left: 30rem;
}


/* career section styles */
.career-container {
    display: flex;
    background-color: #F948B2;
    justify-content: space-between;
}

.career-text-content {
    width: 40%;
    padding-left: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.career-text-content h2 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
}

.career-description {
    color: #FFF;
    font-size: 0.8rem;
    line-height: 1.3rem;
    padding-bottom: 3rem;
}

.careers-and-locations {
    display: flex;
}

.careers {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    /* 200% */
}

.locations {
    color: #FFF;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
}

.career-button {
    background: #FFF;
    color: #FF42A5;

}

.career-image {
    width: 50%;
}

/* games button section styles */

.games-container {
    padding: 5rem 7rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

.games-button:nth-child(n+6) {
    position: relative;
    left: 6rem;
}

.games-button {
    height: 3.5rem;
    border-radius: 2rem;
    background: #FFF;
    border: 0;
}

.games-button:hover {

    border: 0.2rem solid #FF42A5;
}

.games-button div {
    display: flex;
    align-items: center;
    color: #0B0223;
    font-size: 0.8rem;
    font-weight: 600;
}

.games-button div:hover {
    color: #FF42A5;
}

.games-button div img {
    width: 20%;
}

/* footer styles */
footer {
    background: #0B0223;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer-heading {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}

footer h2 {
    padding-left: 1rem;
    color: #FFF;
    font-size: 2.1rem;
}

footer a {
    text-decoration: none;
}

.page-links {
    padding-bottom: 2.5rem;
}

.page-links a {
    color: #FFF;
    padding-left: 2rem;
    font-size: 1.1rem;
}



.icon-links i {
    color: #FFF;
    padding-right: 1.5rem;
}

.extra-links {
    padding-top: 3rem;
    padding-bottom: 0.8rem;
}

.extra-links a {
    padding-left: 2rem;
    font-size: 0.9rem;
}

footer p {
    font-size: 0.8rem;
}

.extra-links a,
footer p {
    color: rgba(255, 255, 255, 0.60);
}










/* media query rules */

/* mobile screen */
@media screen and (max-width: 576px) {

    nav,
    nav ul,
    .gamer-container,
    .games-card-container,
    .play-instantly-container,
    .career-container {
        flex-direction: column;
    }

    nav {
        align-items: center;
        gap: 0.5rem;
    }

    .banner-container,
    .play-games-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-container img {
        width: 80%;
        margin: 0;
    }

    .banner-text-content {
        width: 90%;
        padding-left: 9rem;
        padding-bottom: 5rem;
    }

    .gamer-container {
        background-color: #FFF;
        padding: 3rem 3rem;
        align-items: center;
    }

    .gamer-container img {
        width: 95%;
    }

    .gamer-text-content {
        padding-top: 3rem;
        text-align: center;
        width: 80%;
    }

    .purpose {
        font-size: 0.8rem;
    }

    .gamer-container h3 {
        font-size: 1rem;
    }

    .online-games-container {
        margin-top: 2rem;
    }

    .play-instantly-container {
        margin-top: 2rem;
    }

    .games-card {
        width: 80%;
        margin: 0 auto;
    }

    .instantly-text-content {
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    #main-img {
        width: 90%;
    }

    #pg-img-main {
        width: 90%;
        padding-bottom: 0;
        padding-left: 0;
    }



    #pg-img-sec {
        left: 15rem;
    }

    .play-games-text-content {
        padding-top: 0;
        padding-left: 1rem;
    }

    .career-image {
        width: 100%;
    }

    .games-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
        margin: 1rem;

    }

    .games-button:nth-child(n+6) {
        position: relative;
        left: 0;
    }

    .games-button {
        padding: 0;
        margin: 0;
    }

    .games-button div {
        font-size: 0.6rem;
    }

    footer {
        margin-right: 0;
    }

    .page-links {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .page-links a {
        font-size: 0.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .icon-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
    }

    .icon-links a {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .extra-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .extra-links a {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

/* tablet screen */
@media screen and (min-width:576px) and (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    nav {
        align-items: center;
        gap: 0.8rem;
    }
}